.hight-menu{
	height: 23px;
	background-color: #21759b;
}
.logo-product-item{
	padding-top: 20px;
}
.banner-top-section {
    padding:5px;
}
.banner-right-txt {
    padding:5px;
}

.banner-bottom-section {
    padding:5px;
}
/*//*/
.nt-tab-product .nav-item .nav-link{
	font-weight: 600;
    color: #4a6d81;
    font-size: 1.4rem;
}
.nt-tab-product .nav-item .active, .nt-tab-product .nav-item .nav-link:hover{
	font-weight: 700;
    color: #4a6d81;
    font-size: 1.5rem;
}
.nt-tab-product{
	border-bottom: 1px solid #4a6d81;
}
.nt-tab-product .nav-link:hover{
	border-bottom: 2px solid #4a6d81;
}
.item-description{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;

}
.footer-info {
    background-color: #4a6d81;
}
.footer-info{
	/*color: #4a6d81;*/
}
.nt-with-padding{
	width:150px;
}
.nt-acc{
	font-size: 1.5rem;
    color: #4a6d81
}
.login-home{
	font-size: 1.6rem;
    font-weight: 700;
    color: red;
}
.nt-line{
	width: 65%;
    border-bottom: 1px solid #4a6d81;
    margin: 0 auto;
}
.nt-link-box a{
     color: #a5c0d1 !important;
}
.nt-link-box a:hover{
     color: #4a6d81;
}
.is_mobile .money_number{
    font-size: unset;
    font-weight: 500
}
.is_mobile .cart-nt >img{
    width: 27px;
}
.is_mobile .register {
    font-size: 13px;
}
.is_mobile .cart-item-number {
    position: absolute;
    background: #a5c0d1;
    color: #ff0000;
    width: 14px;
    height: 14px;
    border-radius: 20px;
    font-size: 10px;
    padding: 1px 0px;
    text-align: center;
    right: -5px;
    bottom: 9px;
}
.is_mobile  .overlay h4 {
    font-size: 11px;
}
.is_mobile .logo-product-item{
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
}
.is_mobile .owl-theme .custom-nav{
    top: -3%;
}
.group-product-item{
    background: white;
}
.group-product-item .item-group {
    box-shadow: unset;
}
.banner-top-section .owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}
.wl-product{
    position: absolute;
}
.banner-top-section .owl-nav button.owl-prev {
    left: 0;
}
.banner-top-section .owl-nav button.owl-next {
    right: 0;
}
.banner-top-section{
    position: relative;
}

.banner-top-section .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
.banner-top-section span {
    font-size: 70px;
    position: relative;
    top: -5px;
}
.banner-top-section .owl-nav button:focus {
    outline: none;
}
.banner-top-section .owl-dots{
    display: none !important;
}
.slider-youtube iframe {
    min-width: 400px;
    width: 100%;
    min-height: 400px;
    height: 100%;
}
.slider-youtube .youtube {
    opacity: 1;
    transition: opacity 1s;
}
.is_mobile .owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: unset !important;
}
.wl-product {
    position: absolute;
    right: 15px;
    z-index: 102;
    top: 0;
}
.btn-cart, #back-to-top {
    z-index: 9999999;
}
/*/////*/
#slideBox {
    width: 100%;
    max-height: auto;
    overflow: hidden;
    margin: 1% auto;
    position: relative;
    top: 1em;
    border-radius: .3em;
}

video {
    background-color: black;
}

#slideBox .slick-vertical .slick-slide {
    border: none;
}

.sliderSidebar {
    width: 94px;
    height: 100%;
    float: right;
}

#slideBox .slick-vertical .slick-slide {
    border: none;
}


.sliderMain {
    width: 300px;
    height: 100%;
    position: relative;
    float: left;
}
/*//////*/
.wl-product {
        right: -21px;
}
.nt-link-box li:not(:first-child):after {
    content:' |';
}
.p-link-box li {
    position: relative;
}
.nt-link-box li:not(:first-child):after {
    content: '';
}
.p-link-box li:not(:first-child)::before {
    content: ' |';
    position: absolute;
    top: 15%;
    color: #a5c0d1;
}
.p-fix-image img {
    width: auto;
    height: 81px;
}
.login-home {
    font-size: 1.8rem;
}
.color-red {
    color: #ff0000
}
.footer-info h3 {
    padding: 30px 0 10px 0;
}
.nt-hight-input::placeholder {
    color: #4a6d81;
    font-size: 1rem;
}
.mobile-login-cart{
    padding-right: 25px;
}
.category-name a {
    color: #4a6d81;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #4a6d81;
}
.item-news {
    background: url(../images/tag_new.png);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 12px;
    padding-right: 5px;
    background-repeat: no-repeat;
    background-size: contain;
}
.add-product-cat .item-add-cart {

}
.view_more_nt{
    font-size: 13px;
    font-weight: 600;
    color: #4a6d81;
}
.item-money-price {
    font-size: 13px;
    padding-left: 10px;
}
.item-add-cart {
    padding: 3px 0px;
}
.nt-width-30-img{
    width:30px;
    height: auto;
}
.slider_box {
    height:200px;
}

.slider_box img {
    height: 70px;
    width:auto;
}
.nt-seach-btn{
    background: #4a6d81;
}
.media .nt-media-body input.star-5:checked ~ label.star:before {
    color: #272621;
    text-shadow: 0 0 1px #952;
}
.text-success-cmn{
 color:#898989;
}
.nt-img-cmn{
    width:35px;
    height:35px;
}
.slider_box{
    width: 124px;
    height: 124px;
    min-height: 124px;
    max-height: 122px;
    border: 1px solid #4a6d81;
}
.media input.star-5:checked ~ .media  label.star:before {
    color: #000;
    text-shadow: 0 0 1px #a5c0d1;
}
.cart-home{
    width:35px;
}
.breadcrumb a , .breadcrumb .active {
    font-size: 1rem;
}
.item-price .product-cart-btn .col-sm{
    padding-right: 5px;
    padding-left: 5px;
}
.nt-media-body{
    border: 1px solid #edeee8;
    padding: 10px;
    margin-left: 15px;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "|";
}
/*//menu*/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #edeee8; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #4a6d81;
    display: block;
    font-weight: 600;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    overflow:hidden;
    width:100%;
}
body {
    overflow-x: hidden;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 18px 17px;
    text-decoration: none;
    /*background: #a5c0d1 !important;*/
    /*border: 1px solid #4a6d81;*/
    color: #4a6d81;
    /*font-size: 17px;*/
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 3px;
    margin-bottom: 2px;
    border-radius: 3px;
}
#sideNavigation ul li{
    list-style: none;
}
#sideNavigation ul{
    padding-left: 0px;
}
#sideNavigation{
    z-index: 9999999;
}
    /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.header-menu-mobile{
    /*position: fixed;*/
    z-index: 99999;
}
.width-100-nt .groupQty .bootstrap-touchspin-injected .input-group-prepend,.width-100-nt .groupQty .bootstrap-touchspin-injected .bootstrap-touchspin-down, .width-100-nt .groupQty .bootstrap-touchspin-injected  .input-group-append{
    height: 30px;
}
.width-100-nt .groupQty #pdQuantity{
    height: 29.988636px;
}
.nt-color-date{
    color: #898989;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.nt-hight-input::placeholder{
    color:#4a6d81;
    font-size: 12px;
    font-weight: 600;
}
.active-text-flash-seo{
    padding-bottom: 0px;
    font-weight: bold;
    font-family: "Segoe UI";
}
/*////*/
.collapse_nt .btn:after {
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    font-size: 30px;
    float: right;
    margin-left: 15px;
}
/* Icon when the collapsible content is hidden */
.collapse_nt .btn.collapsed:after {
    content: "\f105";
}
.collapse_nt .btn-info {
    color: #4a6d81;
    font-size: 1rem;
    padding-top: 14px;
    font-weight: bold;
    background-color: #a5c0d1;
    border-color: #a5c0d1;
    margin-bottom: 7px;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #a5c0d1;
    border-color: #a5c0d1;
}
.fix-position{
    position: fixed;
    z-index: 999999999;
    width: 100%;
}
.fix-slider-mobile{
    padding-top:116px
}
.custom-modal .modal-header, .alert-modal .modal-header {
    border-radius: 0;
    background: #4b6e86;
}
.group-info-item{
    min-height: 90px;
}
.slick-slide img {
    margin: 0 auto;
}
.alert-error {
    color: #4b6e86;
    font-weight: 600;
}
.alert-modal .btn-primary {
    color: #fff;
    background-color: #4b6e86;
    border-color: #4b6e86;
}
.btn-secondary {
    color: #fff;
    background-color: #a5c0d1;
    border-color: #a5c0d1;
}
.img-slider-item{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}
#ico{
    display: none;
}
.slider_box{
    max-width: 109px !important;
}
.dropdown-item-mobile .dropdown-menu-child li a{
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dropdown-item-mobile .dropdown-menu-child li:hover a{
    padding-left: 35px;
    transform: 0.5s;
}

@media screen and (max-width: 1000px) {
    .breadcrumb a {
        font-size: 1rem;
    }
    .breadcrumb .active {
        font-size: 1.2rem;
    }
    .nav-tabs {
        font-size: 11px;
    }
    .sidenav a:hover, .offcanvas a:focus, #sideNavigation .topnav a:hover {
        color: #21759b;
        padding-left: 15px;
        transition: 0.5s;
        background-color: #cbd5dc;
    }
    .modal .modal-body img{
        max-width: 100% !important;
        width: 100% !important;
        height: auto!important;
        z-index: 999999999999;
    }
    .modal {
        top: 29px;
    }

}
@media screen and (max-width: 992px) {
    .topnav a {
        margin-top: 0;
        margin-bottom: 0;
        height: 34px;
        position: relative;
        top: -2px;
    }
    .modal-body{
        padding: 10px;
    }
}
@media screen and (min-width: 768px) {
    .slider .slick-current{
        max-height: 500px;
    }
}
@media screen and (max-width: 768px) {
    .group-info-item .item-price .item-add-cart {
        width: 100%;
    }
    .nt-seach-btn{
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn-cart{
        width: 45px;
        height: auto;
    }
    #back-to-top{
        padding: .2rem 0.7rem;
    }
    .item-discount {
        width: 40px;
        height: 40px;
        font-size: 13px;
        padding: 13px 5px;
        margin-top: 10px;
    }
    .it
}
@media screen and (max-width: 700px) {
    .nt-tab-product .nav-item .nav-link{
        font-size: 1.1rem;
        font-weight: 600;
    }
    .nt-tab-product .nav-item .active, .nt-tab-product .nav-item .nav-link:hover {
        font-weight: 600;
        color: #4a6d81;
        font-size: 1.2em;
    }
    .group-product-item {
        margin-top: 15px;
    }
    .nt-acc, .login-home {
        font-size: 1.1rem;
    }
    .wl-product {
        right: -21px;
    }
    .nt-nav-link{
        font-size: 12px;
    }
    .is_mobile .img-list-6 .col-2{
        padding-left: 5px;
        padding-right: 5px;
    }
    .product-infomation .alert-modal .modal-body {
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;
    }

}
@media screen and (max-width: 500px) {
    .nt-tab-product .nav-item .nav-link{
        font-size: 1rem;
    }
    .d-flex .item-stars:not(:first-child)::before {
        padding-left: 5px;
        padding-right: 5px;
    }
    .nt-tab-product .nav-item .active, .nt-tab-product .nav-item .nav-link:hover {
        font-weight: 600;
        color: #4a6d81;
        font-size: 1.1rem;
    }
    .nt-acc, .login-home {
        font-size: 1rem;
    }
    .nt-nav-link {
        font-size: 12px;
    }
    .login-home {
        font-size: 1rem;
    }
    .owl-theme .custom-nav {
        top: 11%;
    }

}
@media screen and (max-width: 484px) {
    .footer-copyright {
        margin-bottom: 76px;
    }
}
@media screen and (max-width: 480px) {
    .nt-nav-link {
        font-size: 11px;
    }
    .w-90{
        width: 80%;
    }
}
@media screen and (max-width: 470px) {
    .is_mobile .register {
        font-size: 10px;
    }
    .nt-link-box{
        font-size: 10px;
    }
    .nt-link-box .nav-item a {
        padding: 0;
    }
    .nt-nav-link {
        font-size: 11px;
    }
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sliderSidebar {
        max-width: 66px;
        height: auto;
    }
}
@media screen and (max-width: 425px) {
    .is_mobile .register {
        font-size: 10px;
    }
    .nt-p-sm-0{
        padding:10px;
    }
}
@media screen and (max-width: 420px) {
    .sliderMain {
        max-width: 271px;
    }

}
@media screen and (max-width: 410px) {
    .nt-hight-input::-webkit-input-placeholder{
        font-size: 10px;
    }
}
@media screen and (max-width: 400px) {
  .item-stars  label.star:before {
        content: '\f006';
        font-family: FontAwesome;
        font-size: 12px;
    }
    .sliderMain {
        max-width: 260px;
    }
    .active-text-flash-seo{
        font-size: 1.3rem;
    }
    .text-right .view_more_nt{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 385px) {
    .nt-hight-input::-webkit-input-placeholder{
        font-size: 8px;
    }
    .sliderMain {
        max-width: 240px;
    }
    .sliderSidebar {
        width: 66px;
    }
}
@media screen and (max-width: 375px) {
    .nt-acc, .login-home {
        font-size: 0.9rem;
    }
    .sliderMain {
        max-width: 224px;
    }
}
@media screen and (max-width: 354px) {
    .d-flex .item-stars:not(:first-child)::before {
        padding-left: 1px;
        padding-right: 1px;
    }
}
@media screen and (max-width: 350px) {
    .item-add-cart {
        font-size: 10px;
    }
    .sliderMain {
        max-width: 210px;
    }
}
@media screen and (max-width: 325px) {
    .step h4 {
        font-size: 7px;
    }
}
