.hight-menu{
	height: 23px;
	background-color: #21759b;
}
.logo-product-item{
	padding-top: 20px;
}
.banner-top-section {
    padding:5px;
}
.banner-right-txt {
    padding:5px;
}

.banner-bottom-section {
    padding:5px;
}
/*//*/
.nt-tab-product .nav-item .nav-link{
	font-weight: 600;
    color: #4a6d81;
    font-size: 1.4rem;
}
.nt-tab-product .nav-item .active, .nt-tab-product .nav-item .nav-link:hover{
	font-weight: 700;
    color: #4a6d81;
    font-size: 1.5rem;
}
.nt-tab-product{
	border-bottom: 1px solid #4a6d81;
}
.nt-tab-product .nav-link:hover{
	border-bottom: 2px solid #4a6d81;
}
.item-description{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;

}
.footer-info {
    background-color: #a5c0d1;
}
.footer-info{
	color: #4a6d81;
}
.nt-with-padding{
	width:150px;
}
.nt-acc{
	font-size: 1.5rem;
    color: #4a6d81
}
.login-home{
	font-size: 1.6rem;
    font-weight: 700;
    color: red;
}
.nt-line{
	width: 65%;
    border-bottom: 1px solid #4a6d81;
    margin: 0 auto;
}
.nt-link-box a{
     color: #a5c0d1 !important;
}
.nt-link-box a:hover{
     color: #4a6d81;
}
.is_mobile .money_number{
    font-size: unset;
    font-weight: 500
}
.is_mobile .cart-nt >img{
    width: 31px;
}
.is_mobile .register {
    font-size: 13px;
}
.is_mobile .cart-item-number {
    position: absolute;
    background: #a5c0d1;
    color: #ff0000;
    width: 14px;
    height: 14px;
    border-radius: 20px;
    font-size: 10px;
    padding: 1px 0px;
    text-align: center;
    right: 2px;
    bottom: 9px;
}
.is_mobile  .overlay h4 {
    font-size: 11px;
}
.is_mobile .logo-product-item{
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
}
.is_mobile .owl-theme .custom-nav{
    top: -3%;
}
.group-product-item{
    background: white;
}
.group-product-item .item-group {
    box-shadow: unset;
}
.banner-top-section .owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}
.wl-product{
    position: absolute;
}
.banner-top-section .owl-nav button.owl-prev {
    left: 0;
}
.banner-top-section .owl-nav button.owl-next {
    right: 0;
}
.banner-top-section{
    position: relative;
}

.banner-top-section .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
.banner-top-section span {
    font-size: 70px;
    position: relative;
    top: -5px;
}
.banner-top-section .owl-nav button:focus {
    outline: none;
}
.banner-top-section .owl-dots{
    display: none !important;
}

/*///*/
.is_mobile .owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: unset !important;
}
.wl-product {
    position: absolute;
    right: 15px;
    z-index: 9999;
    top: 0;
}
.btn-cart, #back-to-top {
    z-index: 9999999;
}

.wl-product {
        right: -21px;
}
.nt-link-box li:not(:first-child):after {
    content:' |';
}
.p-link-box li {
    position: relative;
}
.nt-link-box li:not(:first-child):after {
    content: '';
}
.p-link-box li:not(:first-child)::before {
    content: ' |';
    position: absolute;
    top: 15%;
    color: #a5c0d1;
}
.p-fix-image img {
    width: auto;
    height: 81px;
}
.login-home {
    font-size: 1.8rem;
}
.color-red {
    color: #ff0000
}
.footer-info h3 {
    padding: 30px 0 10px 0;
}
.nt-hight-input::placeholder {
    color: #4a6d81;
    font-size: 1rem;
}
.mobile-login-cart{
    padding-right: 25px;
}
.category-name a {
    color: #4a6d81;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #4a6d81;
}
.item-news {
    background: url(../images/tag_new.png);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 12px;
    padding-right: 5px;
    background-repeat: no-repeat;
    background-size: contain;
}
.add-product-cat .item-add-cart {

}
.view_more_nt{
    font-size: 13px;
    font-weight: 600;
    color: #4a6d81;
}
.item-money-price {
    font-size: 11px;
}
.item-add-cart {
    padding: 3px 0px;
}
.breadcrumb a , .breadcrumb .active {
    font-size: 0.8rem;
}
.item-price .product-cart-btn .col-sm{
    padding-right: 5px;
    padding-left: 5px;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "|";
}
@media screen and (max-width: 1000px) {
    .breadcrumb a {
        font-size: 1rem;
    }
    .breadcrumb .active {
        font-size: 1.2rem;
    }
    .nav-tabs {
        font-size: 11px;
    }
}
@media screen and (max-width: 700px) {
    .nt-tab-product .nav-item .nav-link{
        font-size: 1.1rem;
        font-weight: 600;
    }
    .nt-tab-product .nav-item .active, .nt-tab-product .nav-item .nav-link:hover {
        font-weight: 600;
        color: #4a6d81;
        font-size: 1.2em;
    }
    .group-product-item {
        margin-top: 15px;
    }
    .nt-acc, .login-home {
        font-size: 1.1rem;
    }
    .wl-product {
        right: -21px;
    }
    .nt-nav-link{
        font-size: 12px;
    }
    .is_mobile .img-list-6 .col-2{
        padding-left: 5px;
        padding-right: 5px;
    }

}
@media screen and (max-width: 500px) {
    .nt-tab-product .nav-item .nav-link{
        font-size: 1rem;
    }
    .nt-tab-product .nav-item .active, .nt-tab-product .nav-item .nav-link:hover {
        font-weight: 600;
        color: #4a6d81;
        font-size: 1.1rem;
    }
    .nt-acc, .login-home {
        font-size: 1rem;
    }
    .nt-nav-link {
        font-size: 12px;
    }
    .login-home {
        font-size: 1rem;
    }
    .owl-theme .custom-nav {
        top: 11%;
    }
}
@media screen and (max-width: 480px) {
    .nt-nav-link {
        font-size: 11px;
    }
}
@media screen and (max-width: 470px) {
    .is_mobile .register {
        font-size: 10px;
    }
    .nt-link-box{
        font-size: 10px;
    }
    .nt-link-box .nav-item a {
        padding: 0;
    }
    .nt-nav-link {
        font-size: 11px;
    }
}
@media screen and (max-width: 425px) {
    .is_mobile .register {
        font-size: 10px;
    }
    .nt-p-sm-0{
        padding:10px;
    }

}
@media screen and (max-width: 375px) {
    .nt-acc, .login-home {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 350px) {
    .item-add-cart {
        font-size: 11px;
    }
}