.p-link-box li {
    position: relative;
}
.nt-link-box li:not(:first-child):after {
    content: '';
}
.p-link-box li:not(:first-child)::before {
    content: ' |';
    position: absolute;
    top: 15%;
    color: #a5c0d1;
}
.p-fix-image img {
    width: auto;
    height: 81px;
}
.login-home {
    font-size: 1.8rem;
}
.color-red {
    color: #ff0000
}
.footer-info h3 {
    padding: 30px 0 10px 0;
}
@media screen and (max-width: 992px) {

}