body { font-family: 'Montserrat', sans-serif; font-size: 14px}
.pdt20{padding: 20px 0}

a:hover {text-decoration: none;}

/*img {
    border: none;
    max-width: 100%;
    height: auto;
}*/

button:hover{cursor: pointer;}

.checkout .form-control{
  background-color: #dac9c414;
    background-clip: padding-box;
    border: 1px solid #974a375e;
    border-radius: 0;
    -webkit-appearance: none;.
}

.dropdown-item{font-size: 14px; font-weight: 500; letter-spacing: 1px}

.header-menu, .footer-info{
	background-color: #edeee8
}
.btn-outline-secondary {
    color: #ffffff;
    background-color: #974a37;
    padding: 0 30px;
    /* background-image: none; */
     border:none; 
}


.btn-outline-secondary:hover {
    color: #fff;
    background-color: #671b10;
    /* border-color: #6c757d; */
}

.hotline, .register{text-align: right; font-weight: 500;font-size: 14px}
.register span a{color: #fff}
.hotline span{font-weight: 700; margin-left: 5px; font-size: 16px}

.menu-top{ padding: 20px 0 }

.header-menu .mb-3, .my-3{ margin-bottom: 0 !important }

.cart{position: relative;
    background: #5f2116;
    padding: 5px 16px;
    border-radius: 15px;
}
.cart-item-number{
    position: absolute;
    background: #a5c0d1;
    color:#ff0000;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    font-size: 12px;
    padding: 1px 0px;
    text-align: center;
    right: -7px;
    bottom: 15px;
}
.pd-15{
    padding: 15px 0;
}
.money_number{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff0000;
}

.logo img{width: 120px}

.outer {
  color: #fff;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}


.cart, .cart a{ color: #fff; line-height: 15px;  }

.cart img{width: 15px; margin-right: 5px;
    vertical-align: initial;}

.wrapper{max-width: 1366px; margin: 0 auto;    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;}


.dropdown-menu {border-radius: 0; border:none; line-height: 35px;}
.header-menu .dropdown-divider{border-top: 1px solid #4a6d81; padding: 0; margin:0;}

.dropdown-item.active, .dropdown-item:active,.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover{
    color: #fcfdff;
    text-decoration: none;
    background-color: #4a6d81;
}
.bg-primary-nt{
    background-color: #a5c0d1;
}
.navbar{  padding: 0; }

.navbar-light{font-weight: 500}
.nav-item{margin-right: 5px; font-weight: 500}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{color: #fff;background: #4a6d81;transition: .5s;}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{color: #fff; background: #4a6d81;  transition: .5s;}
.navbar-light .navbar-nav .nav-link{color: #fff;transition: .5s;}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{color: #fff; transition: .5s}
.slide-header{position: relative;}
.img-slide img{width: 100%}

.slide-header .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{background: #974a37;}
.slide-header .owl-theme .owl-nav.disabled+.owl-dots {
    bottom: 5%;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
}

.header-slide-thumb {
    position: relative;
}

.header-slide-thumb a {
    display: block;
    width: 100%;
    padding-bottom: 42.5%;
    position: relative;
    overflow: hidden;
}

.header-slide-thumb a img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.slide-header{position: relative;}

.nextBtn, .previousBtn{
  position: absolute; top: calc(50% - 50px); z-index: 1; 
}

.nextBtn:hover, .previousBtn:hover{cursor: pointer;}

.nextBtn img, .previousBtn img{width: 30px}

.previousBtn{right: 4%}
.nextBtn{left: 4%}


/*rating*/

.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}


.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../images/star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../images/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

div.stars {
  /*width: 270px;*/
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 2px;
  font-size: 15px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 1px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.stars label{margin-bottom: 0}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/*category group*/

.overlay h4 {
    display: inline-block;
    position: relative;
    padding-top: 13px;
    padding-bottom: 3px;
    margin-right: 10px;
}
.overlay  h4:last-child {
  margin-right: 0;
}

.overlay h4:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .8s ease, background-color .8s ease;
}
.overlay:hover h4:after {
    width: 60%;
    background: white;
    margin-top: 8px;
}

.overlay{
	width: 100%;
    height: 100%;
    background: #a5bfd1;
    z-index: 1;
    position: absolute;
    top: 0;
    opacity: 0;
}

.overlay h4{
	position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: 600;
     transition: 0.8s
}

.overlay:hover{
	opacity: 0.8; transition: 0.8s; cursor: pointer;
}

.category-hot{
	margin: 30px 0
}
.cate{margin-top: 10px}
/*item category*/
.category-name{
	color: #974a37;
	text-transform: uppercase;
	float: left;
	margin-right: 50px;
	line-height: 40px;
	font-size: 20px
}
.category-name a{color: #974a37;font-weight: 500;}
.category-name a:hover{color: #000}
/*item*/
.item-price-old{color: #5f5f5f; font-size: 8px; font-weight: 600; text-decoration: line-through;}
.item-thumb{position: relative;}
.item-thumb a { 
    display: block;
    width: 100%;
    padding-bottom: 98.5%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
/*.item-thumb a img{ position: absolute;   top: 0;  left: 0;   object-fit: cover; height: 100%;  width: 100%;}*/
.item-thumb a img{
	position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: auto;
    width: 100%;
    transition: 0.5s;

}

/*.item-thumb a:hover img{ opacity: .5 }*/
.item-add-cart {
    background-color: #4a6d81;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    padding: 8px 0px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
}
.item-add-cart img{width: 16px;}

.item-name{
	font-size: 15px;
    margin:0 0 10px 0;
    font-weight: 500;
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 1;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    word-break: break-word;
}

.item-money-price{
	font-size: 15px;
	font-weight: 600;
  line-height: 25px;
}
.item-group{box-shadow: 1px 1px 20px #d4d2d2; margin-top: 15px;}
.item-group:hover{box-shadow:1px 1px 20px #71372b;transition: 1s;}
.item-group:hover img{opacity: .8}
.group-info-item {padding: 10px}
.item-group:hover .item-add-cart{background-color: #a5c0d1}

.group-product-item{margin-top: 50px;}

.best-seller{
	position: absolute;
    background: #000;
    z-index: 1;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
    font-size: 10px;
    line-height: 11px;
    padding: 12px 2px;
    font-weight: 600;
    top: 24%;
    left: 3%;
}

/*.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 20px solid #000;

}
*/


.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  border-top: 20px solid #000;
}


.item-group-hot{position: absolute;z-index: 99900;top: 0; left: 3%}


.item-new{
	background: #000;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 0 0 0;
}

.item-discount{
	    width: 50px;
    height: 50px;
    border-radius: 40px;
    background: #a5c0d1;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 13px 5px;
    margin-top: 10px;
    /*box-shadow: 0px 0px 5px #fff;*/
}

.item-best-seller{
	width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 40px;
    text-align: center;
    line-height: 15px;
    font-weight: 600;
    padding: 10px 6px;
    margin-top: 10px;
    /*box-shadow: 0px 0px 5px #fff;*/
}

.item-heart{
    position: absolute;
    top: 0;
    right: 33px;
    z-index: 999999;
}

.item-heart img{ width: 25px !important }

.item-heart:hover{
  content: url('../images/heart-checked.png');
    width: 25px;
    cursor: pointer;
}

.btn-wish-list {
    border-radius: 40px;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    background: #b91626;
    border: 1px solid;
    border-color: #b91526;
    color: #fff;
    outline: none;
    width: 100%;
    cursor: pointer;
}



.nav-tabs{border: none; font-weight: 700; color: #000; font-size: 15px}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	color:  #974a37;
	border:none;
  background: none;
}
.nav-tabs .nav-link{border:none;}
.nav-tabs .nav-item a{color: #000}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{border:none; color:#974a37 }


/*slide products*/


.slide{margin: 100px 0; position: relative;}
.slide-title{ text-align: center; text-transform: uppercase; color: #974a37; font-weight: 700; margin: 50px 0; font-size: 20px }
.product{padding: 14px}
.product-thumb{position: relative; box-shadow: 1px 1px 4px #555}
.product-thumb:hover{position: relative; box-shadow: 1px 1px 20px #793327; transition: 0.8s}
.product-thumb a { display: block; width: 100%; padding-bottom: 78.5%;  position: relative;  overflow: hidden;}
.product-thumb a img{ position: absolute;   top: 0;  left: 0;   object-fit: cover; height: 100%;  width: 100%;}
.product-description{
  font-size: 13px; 
  /*padding: 10px 0;*/
  overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 4;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    word-break: break-word;
}
.product-price{font-size: 12px}
.price-old{color: #676767; text-decoration: line-through; font-size: 10px;}
.price-new{font-weight: 700; color: #4a6d81;float: right;    font-size: 15px;}
.discount{    
  position: absolute;
    z-index: 1;
    background: #71372b;
    color: #fff;
    font-weight: 700;
    padding: 13px 5px;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    top: 5%;
    left: 4%;font-size: 15px}
.btns img {width: 30px}
.customNextBtn, .customPreviousBtn{position: absolute; top: calc(50% - 50px); z-index: 1 }
.customNextBtn:hover,.customPreviousBtn:hover{cursor: pointer;}
.customNextBtn {left: -5%;}
.customPreviousBtn{ right: -5%;}


.group{text-align: center;padding-bottom: 40px;}
.group-title{color: #4a6d81;; font-weight: 700; text-transform: uppercase; padding: 20px 0 0 0}
.group img{width: 120px}

.product-home-title{
  color: #a24531;
  font-weight: 500;
  overflow: hidden;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 1;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  word-break: break-word;
}

/*news*/

.news-thumb a:hover img
{
  width: 130%; transition: 0.7s
}

.news{font-family: 'Roboto', sans-serif;text-align: left;}


.news-thumb{position: relative;}


.news-thumb a { 
  display: block; 
  width: 100%; 
  padding-bottom: 95.5%;
  position: relative;  
  overflow: hidden;

}
.news-thumb a img{ 

  position: absolute;   
  top: 0;  
  left: 0; 
  object-fit: cover; 
  height: 100%;  
  width: 100%; 
  transition: 0.5s

}
.news-title{ 
  font-weight: 500; font-size: 15px; margin: 10px 0 0 0;
  overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    word-break: break-word;
}
.news-title a{color: #000}
.news-title a:hover{color: #974a37; transition: 0.3s}
.news-time{font-weight: 500;color: #676767; font-size: 12px}
.news-category{ font-size: 12px;color: #787878;font-weight: 500;margin: 5px 0 }
.news-category img{width: 13px; margin-right: 5px}
.view-more{
	background: #8ba7bd;
    width: 180px;
    margin: 40px auto;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;}
.view-more a{color: #fff}
/*step shopping*/
.shopping{background-color: #edeee8; font-weight: 400; font-size: 13px; margin: 40px 0}
.step-icon{ margin: 30px auto }
.step-icon img{ width: 90px }
.step{text-align: center; padding: 30px}
.step-title{color: #974a37;font-weight: 700; text-transform: uppercase; font-size: 16px; margin-bottom: 0;
	overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    word-break: break-word;
    }
.news-discription{
	font-size: 14px;
	margin-bottom: 20px;
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 4;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    word-break: break-word;
}

/*Footer*/

.footer-info{
	color: #fff;
	font-weight: 400;
	font-size: 13px;
}

.footer-info h3{font-size: 15px;font-weight: 700;    padding: 30px 0;}
.footer-info ul{list-style: none; padding: 0; line-height: 25px}
.footer-contact img{ width: 15px; margin-right: 5px}
.footer-contact li{line-height: 30px}
.footer-info a{color: #4a6d81}
.footer-social{ width: 30px !important; margin-top: 10px; margin-right: 5px}
.footer-copyright{background-color: #4a6d81; text-align: center;color: #fff; font-weight: 400; font-size: 14px; line-height: 40px}

/*// detail products*/

.breadcrumb a{
    color: #a5c0d1;
    font-size: 1.3rem;
}

.breadcrumb .active {
    color: #4a6d81;
    font-size: 1.5rem;
    font-weight: bold;}

.breadcrumb{
    font-size: 14px;
    background: none;
    font-weight: 500;
}

/*product detail*/

.product-detail{
}

.img-product{position: relative;}
.img-product img{width: 100%}

.name-product{font-size: 22px;line-height: 28px; font-weight: 600}
.cate-product, .cate-product a{font-size: 13px; color: #a5c0d1;  margin-bottom: 20px; font-weight: 500}
.cate-product a:hover{color: #4a6d81}
.text-product{font-size: 14px; font-weight: 400; margin-bottom: 15px}
.price-product{font-size: 23px; color: #4a6d81; font-weight: 600; margin: 15px 0;}
.price-product-old{
    color: #a5c0d1;
    text-decoration: line-through;
    font-weight: 500;
}
.name-product {
    color: #4a6d81;
}
.info-product input{border-right: none;}
.info-product .btn { border-radius: 0}
.btn-shopping{font-weight: 600; text-transform: uppercase;}
.btn-shopping i {margin-left: 5px}
.btn-facebook{ background:#4865b5; color: #fff; font-weight: 500 }
.btn-facebook i{ margin-right: 5px }


.product-infomation{margin:20px 0;}
.product-infomation .nav-tabs{
  border-bottom: 2px solid #000;
  margin: 40px 0;
}
.product-infomation .nav-tabs .nav-item{margin-bottom: -2px}
.product-infomation .nav-tabs .nav-item{
    text-transform: uppercase;
    font-weight: 600;
}

.product-infomation .nav-tabs .nav-link{border-bottom: 2px solid #000; transition: .7s}

.product-infomation .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{border-bottom: 2px solid #4a6d81; color: #000; transition: .7s}

.product-infomation .tab-content{ margin-bottom: 40px }

.product-comment{list-style: none; padding: 0}
.comment-name{font-weight: 600}
.comment{margin: 20px 0;}
.footer-copyright p{margin-bottom: 0}

.btn-commnet {
    color: #fff;
    background-color: #71372b;
    border: none;
    border-color: #71372b;
    border-radius: 0;
    font-weight: 500
}

.product-more{
  margin-bottom: 50px
}

.category{margin-bottom: 50px}

.category .item-category{border: none !important}

.breadcrumb{padding: .75rem 0rem;}

.category-list .item-category{border-bottom:none;float: right;}
.category-list .nav-link.active{color:#974a37;}
.category .group-product-item{margin:0 !important}
.cate-pagination{margin:20px 0; font-weight: 600}
.category .page-item.active .page-link{
  background-color: #793327;
  border-color: #793327;
}

.cate-pagination .pagination li {margin-right: 15px}
.cate-pagination .pagination li:last-child{margin-right: 0}

.category .page-link{color: #793327}

.category .page-link{border-color: #793327;}

.hightlight-map {
    height: 0;
    position: relative;
    padding-bottom: 38%;
}

#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute !important;
    background:#ccc;
}
.contract-info {font-weight: 500}

.contract-info span{font-weight: 600; margin-left: 15px}
.contact-frm{font-weight: 500}

.contact-img {
  display: block;
    width: 100%;
    padding-bottom: 38.5%;
    position: relative;
    overflow: hidden;
}

.contact-img img{

    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: 0.5s;

}

.contact-title-frm{
  text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 16px;
    border-bottom: 1px solid;
    padding-bottom: 15px;
}


.img-post{
      display: block;
    width: 100%;
    padding-bottom: 62.5%;
    position: relative;
    overflow: hidden;
        margin-bottom: 15px;
}

.img-post img{
  position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%; transition: 0.8s
}
.img-post a:hover img{width: 130%; transition: .7s}

.post-title{
  font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-bottom: 0.1rem;
}
.post-title a{color: #793327}
.post-title a:hover{color: #444}
.post-time{
      color: #ccc;
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.post-description{
  line-height: 1.5rem;
    font-size: 15px;
    margin: 20px 0
}
/*.post{
  border-bottom: 1px solid #793327;
    padding-bottom: 20px;
}

.post:last-child{border-bottom: none;}*/

.post-view-more{text-align: right;}

.post-view-more a:hover {
      box-shadow: 1px 1px 20px #793327;
      transition: .8s
}

.post-view-more a{
  background: #793327;
    color: #fff;
    padding: 5px 10px;
    font-weight: 600; transition: 0.6s
}
.page-item.active .page-link{
    z-index: 1;
    color: #fff;
    background-color: #822e22;
    border-color: #822e22;}
.page-link{
  color: #793327;
  background-color: #fff;
  border: 1px solid #793327;
}

.post-banner{
    min-height: 200px;
    background:#ccc;
}

.post-banner img{
    width: 100%
}

.promotion-post{position: relative;}
.pomotion-title{
    position: absolute;
    bottom: 0;
    background: #79332794;
    padding: 10px; transition: 2s
}

.promotion-post:hover {transition: all 0.5s ease;; cursor: pointer;}

.promotion-img{
  position: relative;
}

.promotion-img a{
  display: block;
  width: 100%;
  padding-bottom: 62.5%;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.promotion-img img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: 0.8s;
}

.promotion-img a:hover img{width: 105%; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); transition: 1s}
.pomotion-title:hover{background-color: #000; transition: 1s}

/*.pomotion-title:hover a{position: absolute; left: 0; right: 0; top: 50%}*/

.pomotion-title a{
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.2rem;
    margin: 5px 2px;
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    word-break: break-word;

}

.about-banner{
  display: block;
  width: 100%;
  padding-bottom: 32.5%;
  position: relative;
  overflow: hidden;
  background-color: #ccc
  /*margin-bottom: 15px;*/
}

.about-title{
      position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    text-transform: uppercase;
    font-weight: 600;
    color: #793327;
}

.header-layout {
    min-height: 200px;
}

#cartformpage .price, #cartformpage .qtty {
  max-width: 200px;
  min-width: 80px;
  width: 230px;
  text-align: center;
}
#cartformpage a {
  color: #000;
}

#cartformpage .groupQty button{
  background: #E6E6E9;
    color: #000;
    border-color: #e6e6e9 !important;
}
#cartformpage .groupQty {
  margin: 0;
}
#cartformpage a i {
  color: #f06724;
}
#cartformpage textarea {
  width: 100%;
  background: #f2f2f2;
  border: 0;
  resize: none;
  padding: 15px;
}

.cart-buttons button {
  width: 100%;
  border: 0;
  background: #71372b;
  color: #fff;
  height: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.cart-buttons {
  margin-top: 38px;
}

.groupQty {
    display: inline-block;
    margin: 10px 0px;
    background: #f2f2f2;
    position: relative;
    line-height: 1;
    overflow: hidden;
}

.groupQty .qtyControl {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 20px;
    background: #e6e6e6;
    border: none;
    padding: 0;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    font-family: arial !important;
    outline: none;
}

.groupQty input {
    width: 100px;
    margin: 0 auto;
    background: #f2f2f2;
    border: 0;
    height: 35px;
    text-align: center;
    padding: 0;
    vertical-align: middle;
    outline: none;
}

.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.cart-item-responsive {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f1f1f1;
}

.cart-item-responsive .h4 {
    font-size: 14px;
    display: block;
}

#cartformpage .cart-item-responsive .price {
    display: inline-block;
    font-size: 16px;
    color: #71372b;
    text-align: left;
    width: auto;
}

.cart__remove {
    display: inline-block;
    margin-left: 10px;
}

.title-cart{
      color: #71372b;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}

.userbox {
    background-color: rgb(249, 249, 249);
    margin: auto;
    margin-bottom: 70px;
    box-shadow: none;
    border: 1px solid rgb(230, 230, 230);
    padding: 30px;
    border-radius: 0px;
    width: 600px;
    margin-top: 50px;
}
.userbox .header-account {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(230, 230, 230);
    overflow: hidden;
}

.actionCart .button {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    background: #4a6d81;
    border: 1px solid;
    border-color:#4a6d81;
    color: #fff;
    outline: none;
    width: 100%;
    cursor: pointer;
}
.actionCart .button.btn-addCart {
    background: #000;
    border-color: #000;
}

.actionCart .btn-addCart:hover {
    background: #4a6d81;
    border-color: #4a6d81;
}

.transition-02 {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.actionCart .buy-now:hover {
    background: #000;
    border-color: #000;
    -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.social-facebook {
    border-radius: 40px;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    background: #2b3771;
    border: 1px solid;
    border-color: #2b3771;
    color: #fff;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.login-facebook{text-align: center;}

.login-facebook button{
    text-align: center;
    padding: 5px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    background: #4267b2;
    color: #fff;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

.register-title{text-align: center;}

.title-name-register{
      font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #71372b;
}
.frm-register{font-weight: 500}
.btn-register{text-align: center;}
.btn-register button{
  text-align: center;
    padding: 5px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    background: #71372b;
    color: #fff;
    outline: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 0
}

.title-login-more, .title-forget {text-align: center;}

.title-login-more a, .title-forget a{color: #71372b}
.title-name-user{
      text-transform: uppercase;
    font-weight: 600;
    color: #71372b;
}
.box-cart {
    border-radius: 5px;
    border: 1px solid #974a37;
    padding: 10px;
}

.check-payment{font-weight: 500}

.check-payment .custom-control-label{line-height: 24px}

.box-cart h2 {
        margin: 0;
    display: inline;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #71372b;
    font-weight: 600;
    margin-right: 5px;
}

.cart-items, .total-price, .promotion-name {
    border-top: 1px solid #974a37;
    border-bottom: 1px solid #974a37;
    padding-bottom: 10px;
    padding-top: 10px;
}
.cart-items {
    margin-top: 10px;
}
.cart-item:first-child{border:none;}
.cart-item {
    border-top: 1px dashed #974a37;
    padding: 10px 0;
    text-align: left;
}

.total-price, .promotion_saving {
    border-top: 0;
    font-weight: bold;
}

.shiping-price {
    padding-bottom: 10px;
    padding-top: 10px;
}

.btn-arrow {
    background: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAALCAYAAABcUvyWAAAAGXRFW…AkWllktPN+3z5aDmTPg2lnYuIVqvpz9/Q0ILsL2TKAAAMAHnVNPyeKq8wAAAAASUVORK5CYII=) no-repeat right;
    background-position: 44% 46%;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
    border: 1px solid #eee;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 10px 0;
}

.btn-coupon {
    display: block;
    margin-bottom: 0;
    padding-top: 11px;
    padding: 5px 10px 0 0;
    color: #0685DE;
    text-align: left;
    border-radius: 3px;
}

.coupon {
    display: none;
    height: 35px;
    line-height: 35px;
    background: #F0F0F0;
    margin-bottom: 11px;
    text-align: center;
    color: #4AB4F0;
    font-weight: bold;
}

.btn-coupon:hover {
    color: #ef8742;
    background: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAALCAYAAABcUvyWAAAAGXRFW…vxqBXzPf29PxW2eXLdT4KZALL8/4nfclcsWB/pItsHEGAA+i1MJofp7ZYAAAAASUVORK5CYII=) no-repeat right;
    background-position: 45% 46%;
    display: block;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.total-checkout {
    background: #974a37;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    font-weight: 600;
    color: #fff;
}

.btn-checkout, .btn-submit-coupon, .continue-coupon, .cancel-coupon {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    background: #71372b;
    color: white;
    cursor: pointer;
    border: 0;
    outline: 0;
    white-space: nowrap;
    font-weight: 600;
}

.cart-item .price, .total-price label, .shiping-price label, .total-checkout span, .promotion-name label {
    float: right;
}

.checkout-info {
      background: #71372b;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.frm-checkout{
      font-weight: 500;
}
.voucher{margin: 37px auto}
.voucher a{
      color: #ffffff;
    background-color: #71372b;
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.img-product .img-detail{
  display: block;
  width: 100%;
  padding-bottom: 250px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.img-product .img-thumb{
  display: block;
  width: 100%;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.img-product .img-detail img, .img-product .img-thumb img{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.img-product .img-thumb img{padding: 0 1%}
.news-details img{width: 100%}

.news-same ul {padding: 0;list-style: none;}
.news-same  img {width: 100%}
.news-same-title{
  text-transform: uppercase;
    font-weight: 700;
    color: #793327;
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 10px;
}
.header-news{
  margin: 20px 0;
}
.header-news h4 {
  font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}
.header-times{
  font-size: .8rem;
  font-weight: 600;
  color: #ccc;
  
}
.news-same li {
  margin-bottom: 20px;
    border-bottom: 1px dashed #a24531;
    padding-bottom: 15px;
}
.product_image img{width: 100%}
.cart__image img{width:100%;}
.news-same li:last-child{border-bottom:none;}

.news-ads .news-thumb a {

      padding-bottom: 58.5%;

}
.user-profile{

}

.user-profile a{ color: #71372b; font-weight: 600 }

.user-profile .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #fff;
  background-color: #71372b;
  font-weight: 600;
}

.user-profile .nav-pills .nav-link{border-radius: 0 }
.user-text-info{font-weight: 600; color: #71372b;margin-left: 10px}
.page-link:hover{
    color: #71372b;
    border-color: #71372b;
}
.title-wishlist{
  text-align: center;
vertical-align: middle;
line-height: 40px; 
}
.title-wishlist a{
  overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 1;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    word-break: break-word;
}

.btn-addCart{
    background: #974a37;
    color: #fff !important;
    border-radius: 0;
  information  font-size: 12px;
}

.user-information{
  font-weight: 600;
      border-bottom: 1px solid;
    padding-bottom: 5px;
}
.user-information a{color: #fff}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
.btn-up {
    border: 1px solid #4a6d81;
    background: #fff;
    color: #4a6d81;
}

.btn-up:hover{
  background-color: #71372b;
  border-color: #fff;  

}

.custom-modal, .alert-modal {border-radius: 0}
.custom-modal .modal-body, .alert-modal .modal-body{padding: 0}
.custom-modal .modal-header, .alert-modal .modal-header{ border-radius: 0; background:#71372b;}
.custom-modal .modal-title, .alert-modal .modal-title{ font-size: 1rem; font-weight: 600; color: #fff }
.custom-modal button.close, .alert-modal button.close, .alert-modal button.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover, .custom-modal button.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{color: #fff}
.custom-modal a{
      color: #71372b;
    font-weight: 600;
}
.name-product-history a{
  overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    word-break: break-word;
}

.img-thumbnail{border-radius: 0; padding: .1rem}
.alert-title-modal{text-align: center;}

.alert-modal .modal-footer{display: block; text-align: center;}

.alert-modal .modal-footer button{border-radius: 0}
.alert-modal .btn-primary {
    color: #fff;
    background-color: #71372b;
    border-color: #71372b;
}
.nt-bar{
    background: #a5c0d1 !important;
    border: 1px solid #4a6d81;
    color: #4a6d81;
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;;
}
.is_mobile .btn-group{
    margin-left: 5px;
}
.is_mobile .dropdown-toggle::after{
    display:none;
}
.btn-cart{
  z-index: 10;
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 60px;
  height: 60px;
}

.btn-cart img{width: 100%}
.alert-error{
      color: #71372b;
    font-weight: 600;
}

@media screen and (max-width: 768px) {

  .mr-auto, .mx-auto{padding: 1em 0}
  .outer {margin-bottom: 30px; text-align: center; }
  .navbar{padding: .5em 0}
  .cart{    adding: 13px 15px;}
  .category-name{float: none;}
}


@media screen and (max-width: 480px) {

  .nav-link { padding: 0 1rem .5rem;}

  .product-price{text-align: left;}
  
  .price-new{float: none;}

  }
